In [1]:
import pandas as pd
import numpy

In [13]:
data = pd.read_csv('/home/vishalthadari/Documents/Train.csv')

In [14]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

show the columns from STA to snowfall

In [15]:
variable1 = data.loc[: , "Item_Identifier":"Outlet_Identifier"]
variable1.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013

create a lambda function that capitalize strings

In [16]:
captalizer = lambda x: x.upper()

for visuals only on data

In [17]:
variable1['Item_Fat_Content'].apply(captalizer)
variable1['Item_Type'].apply(captalizer)

0                       DAIRY
1                 SOFT DRINKS
2                        MEAT
3       FRUITS AND VEGETABLES
4                   HOUSEHOLD
5                BAKING GOODS
6                 SNACK FOODS
7                 SNACK FOODS
8                FROZEN FOODS
9                FROZEN FOODS
10      FRUITS AND VEGETABLES
11                      DAIRY
12      FRUITS AND VEGETABLES
13                SNACK FOODS
14      FRUITS AND VEGETABLES
15                  BREAKFAST
16         HEALTH AND HYGIENE
17                  BREAKFAST
18                HARD DRINKS
19                      DAIRY
20                SNACK FOODS
21               BAKING GOODS
22                  HOUSEHOLD
23               BAKING GOODS
24               FROZEN FOODS
25                  HOUSEHOLD
26                SNACK FOODS
27                HARD DRINKS
28                      DAIRY
29                     CANNED
                ...
8493              SNACK FOODS
8494                HOUSEHOLD
8495              SNACK FOODS
8496                  SEAFOOD
8497    FRUITS AND VEGETABLES
8498                HOUSEHOLD
8499       HEALTH AND HYGIENE
8500                HOUSEHOLD
8501              SNACK FOODS
8502                HOUSEHOLD
8503    FRUITS AND VEGETABLES
8504                HOUSEHOLD
8505              SNACK FOODS
8506              SOFT DRINKS
8507             FROZEN FOODS
8508    FRUITS AND VEGETABLES
8509    FRUITS AND VEGETABLES
8510              SNACK FOODS
8511             FROZEN FOODS
8512                    DAIRY
8513                     MEAT
8514                   CANNED
8515             BAKING GOODS
8516                   OTHERS
8517             FROZEN FOODS
8518              SNACK FOODS
8519             BAKING GOODS
8520       HEALTH AND HYGIENE
8521              SNACK FOODS
8522              SOFT DRINKS
Name: Item_Type, Length: 8523, dtype: object

apply permanantly capitaliser on the dataset

In [21]:
variable1['Item_Fat_Content']=variable1['Item_Fat_Content'].apply(captalizer)
variable1['Item_Type']=variable1['Item_Type'].apply(captalizer)
variable1.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier
0,FDA15,9.30,LOW FAT,0.016047,DAIRY,249.8092,OUT049
1,DRC01,5.92,REGULAR,0.019278,SOFT DRINKS,48.2692,OUT018
2,FDN15,17.50,LOW FAT,0.016760,MEAT,141.6180,OUT049
3,FDX07,19.20,REGULAR,0.000000,FRUITS AND VEGETABLES,182.0950,OUT010
4,NCD19,8.93,LOW FAT,0.000000,HOUSEHOLD,53.8614,OUT013

In [18]:
variable1.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013

last 5 elemennts of the dataset

In [19]:
variable1.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046

make a new column new shop and return true if the shop is openened after 2007

First make a function of it!

In [36]:
def function1(x):
    if x > 2007:
        return True
    else:
        return False

In [37]:
data['New Shop'] = data['Outlet_Establishment_Year'].apply(function1)
data.head(20)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,New Shop
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,False
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,True
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,False
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800,False
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,False
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088,True
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528,False
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636,False
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986,False
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350,False
10,FDY07,11.800,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266,False
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530,False
12,FDX32,15.100,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646,False
13,FDS46,17.600,Regular,0.047257,Snack Foods,119.6782,OUT046,1997,Small,Tier 1,Supermarket Type1,2145.2076,False
14,FDF32,16.350,Low Fat,0.068024,Fruits and Vegetables,196.4426,OUT013,1987,High,Tier 3,Supermarket Type1,1977.4260,False
15,FDP49,9.000,Regular,0.069089,Breakfast,56.3614,OUT046,1997,Small,Tier 1,Supermarket Type1,1547.3192,False
16,NCB42,11.800,Low Fat,0.008596,Health and Hygiene,115.3492,OUT018,2009,Medium,Tier 3,Supermarket Type2,1621.8888,True
17,FDP49,9.000,Regular,0.069196,Breakfast,54.3614,OUT049,1999,Medium,Tier 1,Supermarket Type1,718.3982,False
18,DRI11,NaN,Low Fat,0.034238,Hard Drinks,113.2834,OUT027,1985,Medium,Tier 3,Supermarket Type3,2303.6680,False
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224,False

multiply every number(if the number is int) with 2

In [42]:
def times10(x):
    if type(x) is int:
        return 2 * x
    return x

In [43]:
data.applymap(times10).head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,New Shop
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,3998,Medium,Tier 1,Supermarket Type1,3735.1380,False
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,4018,Medium,Tier 3,Supermarket Type2,443.4228,True
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,3998,Medium,Tier 1,Supermarket Type1,2097.2700,False
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,3996,NaN,Tier 3,Grocery Store,732.3800,False
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,3974,High,Tier 3,Supermarket Type1,994.7052,False
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,4018,Medium,Tier 3,Supermarket Type2,556.6088,True
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,3974,High,Tier 3,Supermarket Type1,343.5528,False
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,3970,Medium,Tier 3,Supermarket Type3,4022.7636,False
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,4004,NaN,Tier 2,Supermarket Type1,1076.5986,False
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,4014,NaN,Tier 2,Supermarket Type1,4710.5350,False

we are not doing it on our original data if want to apply on the original data use ",inplace = True" without quotes

check the information available about the columns

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 13 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null int64
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
New Shop                     8523 non-null bool
dtypes: bool(1), float64(4), int64(1), object(7)
memory usage: 807.4+ KB

as we can see the Outlet_Establishment_Year is int so we have to apply datetime64(pandas datatype)

In [47]:
data.Outlet_Establishment_Year = pd.to_datetime(data.Outlet_Establishment_Year, format='%Y')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 13 columns):
Item_Identifier              8523 non-null object
Item_Weight                  7060 non-null float64
Item_Fat_Content             8523 non-null object
Item_Visibility              8523 non-null float64
Item_Type                    8523 non-null object
Item_MRP                     8523 non-null float64
Outlet_Identifier            8523 non-null object
Outlet_Establishment_Year    8523 non-null datetime64[ns]
Outlet_Size                  6113 non-null object
Outlet_Location_Type         8523 non-null object
Outlet_Type                  8523 non-null object
Item_Outlet_Sales            8523 non-null float64
New Shop                     8523 non-null bool
dtypes: bool(1), datetime64[ns](1), float64(4), object(7)
memory usage: 807.4+ KB

In [48]:
data.idxmax(0)

TypeError: reduction operation 'argmax' not allowed for this dtype